/* Custom CSS */
body {
	font-family: -webkit-body;
	font-family: 'Droid Serif',serif;
}

/* Helper CSS */
.spacer-top {
	margin-top: 10px;
}

.spacer-bottom {
	margin-bottom: 10px;
}

.padding-top {
	padding-top: 5px;
}

.full-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

.btn-theme {
	/* background-color: #A0CE54; */
	background-color: #86CDBB; 
	color: white;
}

.btn-theme:hover {
	background-color: #86CDBB;
	color: white;
	opacity: 0.85;
}

.clear {
	clear: both;
}

/* Landing Page */
.category-list {
	display: none; /* Hack to remove category */
}

.order-book-block {
	margin-top: 0px;
}

.cat-products-list {
	min-height: 619px;
}

.form-logo {
	max-width: 200px;
}

.success-msg {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	display: none;
}

.submit-btn {
	margin: 20px 0 !important;
}

/* Login Page */
.login-form-container {
	width: 40%;
	margin-top: 10%;
	font-family: 'Droid Serif',serif;
}

.login-btn {
	width: 100%;
}

/* Admin Page */
.logo-img {
	max-width: 150px;
}

.admin-header {
	background-color: #86CDBB;
	text-align: center;
	min-height: 80px;
	padding-top: 20px;
	font-family: 'Droid Serif',serif;
	color: white;
}

.admin-header a {
	text-decoration: none;
	color: white;
}

.admin-header a:hover {
	text-decoration:none; 
	cursor: pointer; 
	color: #29A384;
}

.admin-header div.active {
	color: #29A384;
}

.admin-container {
	font-family: 'Droid Serif',serif;
}

/* Order DataTable */
th,td {
	text-align: center;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.order-items-container {
	text-align: left;
	padding-left: 8%;
}

.DTTT_button_copy, .DTTT_button_csv, .DTTT_button_xls, .DTTT_button_pdf {
	display: none !important;
}

/* Item DataTable */
.item-image {
	max-width: 100px;
	height: auto;
}

.item_removed, .item_added {
	display: none;
}

#image-preview {
	display: none;
	max-width: 150px;
	height: auto;
}
